body{
    font-family: 'Roboto', sans-serif;
    margin: "0";
}
.text-green{
  color: #28a745;
}
.bg-green{
    background-color: #28a745;
}
.text-white{
    color:#ffffff
}
.gray{
    color:#707070
}